@import 'tailwind.css';


// Common styles for both modes
.text-dark {
    color: #1a202c;
}

// Day Mode
.light-mode {
    background-color: #ffffff;

    .text-dark {
        color: #1a202c;
    }
}

// Night Mode
.dark-mode {
    background-color: #000000;

    .text-light {
        color: #cbd5e0;
    }
}
